<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4" IgnorableNamespaces="uap mp uap3 uap6 iot uap4">
  <Identity Name="62bd7750-5b90-4f35-b3ad-414bdc5f0593" Publisher="CN=binar, O=Arkadiusz Skorski, C=PL" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="62bd7750-5b90-4f35-b3ad-414bdc5f0593" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>PCB Visual Inspection v2</DisplayName>
    <PublisherDisplayName>binar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PCB_Visual_Inspection_v3.App">
      <uap:VisualElements DisplayName="PCB Visual Inspection v3" Description="PCB visual inspection (2D) device based on Raspberry Pi platform" BackgroundColor="transparent" Square44x44Logo="Assets\Square44x44Logo.png" Square150x150Logo="Assets\Square150x150Logo.png">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png"/>
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <uap:Capability Name="picturesLibrary"/>
    <uap:Capability Name="videosLibrary"/>
    <Capability Name="codeGeneration"/>
    <Capability Name="internetClient"/>
    <Capability Name="internetClientServer"/>
    <uap:Capability Name="removableStorage"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap6:Capability Name="graphicsCapture"/>
    <Capability Name="privateNetworkClientServer"/>
    <uap3:Capability Name="remoteSystem"/>
    <iot:Capability Name="lowLevelDevices"/>
    <uap4:Capability Name="userDataTasks"/>
    <iot:Capability Name="systemManagement"/>
    <DeviceCapability Name="lowLevel"/>
    <DeviceCapability Name="webcam"/>
    <DeviceCapability Name="microphone"/>
  </Capabilities>
</Package>